.DS_Store
.vscode
day1/.DS_Store
day1/target
day1/cargo.lock
day1/input.txt
day1/.DS_Store
day2/target
day2/cargo.lock
day2/input.txt
day3/target
day3/cargo.lock
day3/input.txt
day4/target
day4/cargo.lock
day4/input.txt
day5/target
day5/cargo.lock
day5/input.txt
day6/target
day6/cargo.lock
day6/input.txt
day7/target
day7/cargo.lock
day7/input.txt